.adopta{
    color:black;
    font-size: 15px;
    font-family:'Times New Roman', Times, serif;
    
}

.content{
    background-color:limegreen;
}


.titulo{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contenido{
    font-family:'Times New Roman', Times, serif;
    color:rgb(37, 32, 32);
}