<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-avatar>
        <ion-img src="/assets/gatos.jpg"></ion-img>
      </ion-avatar>
    </ion-buttons>
    <ion-title class="adopta">Cuidados de los animales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card class="content">
    <ion-card-header>
      <ion-card-title class="titulo">Los perros</ion-card-title>
    </ion-card-header>

    <img src="assets/perro.jpg" class="ion-padding">
    <ion-card-content class="contenido">
      Tener a un perro implica una gran responsabilidad. Aunque los consejos para cuidar a tu mascota son sencillos, se debe saber que serán para el resto de su vida, por lo tanto, cuidar a tu perro, o a ese perro que pretendes adoptar, no es tarea fácil.

      Además de facilitarle las cosas básicas como son la comida, el agua, el veterinario o hacer ejercicio, hay otros consejos que son importantes para que tu mascota esté feliz y con una salud de hierro.
    </ion-card-content>
    <ion-button href="https://www.timbrit.cl/blog/cuidados-basicos-para-tu-perro/" target="_blank" expand="block"size="small">Ver mas </ion-button>
  </ion-card>

  <ion-card class="content">
    <ion-card-header>
      <ion-card-title class="titulo">Los gatos</ion-card-title>
    </ion-card-header>
    <img src="assets/gato.jpg" class="ion-padding">
    <ion-card-content class="contenido">
      Tu gatito necesita tres cosas de ti: mucha atención, comidas regulares y equilibradas, y un poco de ayuda con su aseo. Estos cuidados favorecen su desarrollo y le ayudan a tener un pelo brillante y sano, con lo que lucirá un aspecto lustroso y saludable como a él le gusta
    </ion-card-content>
    <ion-button href="https://www.purina-latam.com/mx/purina/nota/gatitos/como-cuidar-a-un-gato-y-como-asearlo" target="_blank" expand="block"size="small">Ver mas</ion-button>
  </ion-card>

  <ion-card class="content">
    <ion-card-header>
      <ion-card-title class="titulo">Los conejos</ion-card-title>
    </ion-card-header>
    <img src="assets/conejo.jpg" class="ion-padding">
    <ion-card-content class="contenido">
      Si ya tienes un conejito formando parte de tu vida, sabrás que son fascinantes y que requieren particulares cuidados.

      Sin embargo, si planeas acoger a uno y no sabes cómo hacerlo, debes aprender previamente sobre la protección y el bienestar que requieren.
    </ion-card-content>
    <ion-button href="https://bunnylovers.cl/bunny-home/mundo-bunny/" target="_blank" expand="block"size="small">Ver mas</ion-button>
  </ion-card>

  <ion-card class="content">
    <ion-card-header>
      <ion-card-title class="titulo">Los hurones</ion-card-title>
    </ion-card-header>
    <img src="assets/huron.jpg" class="ion-padding">
    <ion-card-content class="contenido">
      El hurón, además de ser amistoso, también es muy curioso. Tenemos que prestarle una atención especial cuando esté suelto en la casa; así evitaremos que se meta en problemas. Este animal duerme tanto como un gato, alrededor de una 18 horas al día. Se caracteriza por ser ordenado y puede aprender a hacer sus necesidades en una caja de arena.
    </ion-card-content>
    <ion-button href="https://www.miscota.es/consejos/pequenos-mamiferos/guia-de-cuidados-basicos-del-huron/" target="_blank" expand="block"size="small">Ver mas</ion-button>
  </ion-card>

</ion-content>
