<ion-header >
  <ion-toolbar color="success">

    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons> 

    <ion-buttons slot="end">
      <ion-avatar>
        <ion-img src="/assets/Cachorro.jpg"></ion-img>
      </ion-avatar>
    </ion-buttons>

    <ion-title class="adopta">Adopta +Cotas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card class="content">

    <ion-card-header>
      <ion-card-subtitle class="subtitulo">¿Quiénes somos?</ion-card-subtitle>
      <ion-card-title class="titulo">Nuestra Historia</ion-card-title>
      <ion-img src="/assets/mascotas.jpeg"></ion-img>
    </ion-card-header>

    <ion-card-content class="contenido">
      Adopta +cotas es una organización sin fines de lucro que busca educar y promover la tenencia responsable de los animales domésticos en el país.
      Nuestro objetivo es llegar a quienes ya tienen uno de estos animalitos formando parte de su vida, pero también acercarnos a quienes están evaluando la posibilidad de sumar a uno de ellos a su familia y hogar.
    </ion-card-content>

  </ion-card>

  <ion-card class="content">

    <ion-card-header>
      <ion-card-title class="titulo">¿Por qué adoptar?</ion-card-title>
      <ion-img src="/assets/duo.jpg"></ion-img>
    </ion-card-header>

    <ion-card-content class="contenido">
      Hay más de mil razones para adoptar una mascota, he aquí unas cuantas:
<br>
° Por su amor incondicional por el propietario y demás miembros de la familia.
<br>
° Porque no juzgan ni la personalidad ni el aspecto de las personas.
<br>
° Porque son compañeros fieles y pueden convertirse en nuestros mejores amigos.
<br>
° Porque son muy bonitos.
<br>
° Porque siempre están contentos y nos contagian su buen humor.
<br>
° Por los beneficios para la salud que conllevan el paseo y los cuidados al perro.
<br>
° Porque ayudan a fortalecer el sistema inmunitario de los niños y reducen la posibilidad de desarrollar alergias.
<br>
° Porque son juguetones y divertidos.
<br>
° Porque mejoran la autoestima de sus propietarios, especialmente en el caso de los niños y de las personas que viven solas.
<br>
° Porque al acariciar y abrazar a una mascota, se reduce el nivel de estrés.
<br> 

Algunos eligen una raza que les gusta especialmente o que les parece que se adaptará mejor a su estilo de vida. Otros deciden adoptar en una funcación protectora de animales porque les parece una forma de ayudar.  Independientemente de la procedencia de una mascota, la mayoría de propietarios establecen un estrecho vínculo con ella, la ven como un miembro más de la familia y disfrutan de muchos de los beneficios previamente listados.
    </ion-card-content>

  </ion-card>

</ion-content>
