.info{
    color:black;
    font-size: 14px;
    font-family:'Times New Roman', Times, serif;
    
}

.dato{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}